<h1>
  Create New Chapter
</h1>
<.form for={@form} phx-submit="save">
  <div class="flex column gap1">
    <.input field={@form[:title]} type="text" placeholder="Chapter Title..." autocomplete="off" />
    <.button>
      Create Chapter
    </.button>
  </div>
</.form>
