<div class="flex column alignCenter">
  <h1>Chapters</h1>
  <ul class="flex row wrap">
    <%= for guide <- @guides do %>
      <li class="flex column alignCenter">
        <.link navigate={"/guide/" <> to_string(guide.id)} class="logo glow">
          <span class="logoFont"><%= guide.icon %></span>
        </.link>
        <p class="lineHeightBigger textBright">
          <%= guide.name %>
        </p>
      </li>
    <% end %>
    <li :if={@live_action in [:editor_index]} class="flex column alignCenter">
      <.link navigate={~p"/chapters/new"} class="logo glow">
        <span class="logoFont">+</span>
      </.link>
      <p class="lineHeightBigger textBright">
        [ Add a Chapter ]
      </p>
    </li>
  </ul>
  <div class="flex justifyCenter marginTop2">
    <%= render_navbar(assigns) %>
  </div>
</div>

<.modal
  :if={@live_action in [:new, :edit]}
  id="chapter-modal"
  show
  on_cancel={JS.patch(~p"/chapters")}
>
  <.live_component
    module={ColuguideWeb.ChapterLive.FormComponent}
    id={@chapter.id || :new}
    title={@page_title}
    action={@live_action}
    chapter={@chapter}
    patch={~p"/chapters"}
  />
</.modal>
