<div class="flex column alignCenter textBigger">
  <%= if @guide.template_id == 1 do %>
    <%= render_header_tutorial(assigns) %>
  <% end %>
  <h1 class="marginTop5">
    <%= @guide.title %>
  </h1>
  <ul>
    <%= render_steps(assigns) %>
  </ul>
  <%= render_navbar(assigns) %>
</div>
