/* @import "tailwindcss/base"; */
/* @import "tailwindcss/components"; */
/* @import "tailwindcss/utilities"; */

/* This file is for your main application CSS */

/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
  text-decoration: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start Custom CSS ( */

/* Fonts */

@font-face {
  font-family: "Arimo";
  /* src: url(/fonts/ArimoNerdFontPropo-Regular.ttf); */
  src: url(/fonts/ArimoNerdFont-Regular.ttf);
}

/* Color Palette */

:root {
  --guideme-palette-grey-bright: #eeeeee;
  --guideme-palette-white-bright: #ffffff;
  --guideme-palette-black-orange: #110c02;
  --guideme-palette-black-semitransparent1: #0f0f0f98;
  --guideme-palette-black-semitransparent2: #0f0f0f69;
  --guideme-palette-orange-medium: rgb(255, 184, 77);
  --guideme-palette-orange-bright: rgb(255, 230, 91);
  --guideme-palette-blue-periwinkle: #396cd8;
  --guideme-palette-cyan-medium: #37939b;
  --guideme-palette-cyan-bright: #24c8db;
}

/* Color Assignments*/

:root {
  --guideme-text-standard: var(--guideme-palette-grey-bright);
  --guideme-text-bright: var(--guideme-palette-white-bright);
  --guideme-text-dull: var(--guideme-palette-cyan-medium);
  --guideme-text-accent: var(--guideme-palette-cyan-bright);
  --guideme-text-alert: magenta;
  --guideme-border-alert: var(--guideme-palette-orange-medium);
  --guideme-link-standard: var(--guideme-palette-orange-medium);
  --guideme-link-hover: var(--guideme-palette-orange-bright);
  --guideme-background-dark: var(--guideme-palette-black-orange);
  --guideme-background-overlay-shadow: var(
    --guideme-palette-black-semitransparent1
  );
  --guideme-button-background-standard: var(
    --guideme-palette-black-semitransparent1
  );
  --guideme-button-background-clicked: var(
    --guideme-palette-black-semitransparent2
  );
  --guideme-button-border-standard: var(--guideme-palette-orange-medium);
  --guideme-button-border-interacted: var(--guideme-palette-orange-bright);
}

/* Root */

:root {
  font-family: "Arimo", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  /* font-weight: 400; */
  color: var(--guideme-text-standard);
  background-color: var(--guideme-background-dark);
  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 1.2rem;
}

/* Elements */

/* html {
  max-height: 90%;
} */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem;
  justify-content: center;
  /* max-height: 100%; */
}

a,
.link {
  font-weight: 500;
  color: var(--guideme-link-standard);
  text-decoration: inherit;
}

a:hover,
.link:hover {
  color: var(--guideme-link-hover);
}

div {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  margin: 0.5rem;
  color: var(--guideme-text-accent);
}

h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.2rem;
  color: var(--guideme-text-alert);
}

ol,
ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* width: 100%; */
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* li {
  color: var(--guideme-text-accent);
} */

td, th {
    padding: 0.5rem 1rem;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--guideme-text-bright);
  background-color: var(--guideme-button-background-standard);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
  border-color: var(--guideme-button-border-standard);
}

button:hover {
  border-color: var(--guideme-button-border-interacted);
}

button:active {
  border-color: var(--guideme-button-border-interacted);
  background-color: var(--guideme-button-background-clicked);
}

input,
button {
  outline: none;
}

/* IDs */

#greet-input {
  margin-right: 5px;
}

/* Util Classes */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

.centerContents {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.justifyCenter {
  justify-content: center;
}

.spaceBetween {
  justify-content: space-between;
}

.alignCenter {
  align-items: center;
}

.alignStart {
  align-items: flex-start;
}

.alignEnd {
  align-items: flex-end;
}

.moveLeft {
  transform: translateX(-75%);
}

.textCenter {
  text-align: center;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.gapPoint5 {
  gap: 0.5rem;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.widthFull {
  width: 100%;
}

.width8 {
  width: 8rem;
}

.widthFit {
  width: fit-content;
}

.widthMax {
  width: max-content;
}

.margin0 {
  margin: 0;
}

.margin1 {
  margin: 1rem;
}

.marginBottom0 {
  margin-bottom: 0;
}

.marginBottom1 {
  margin-bottom: 1rem;
}

.marginBottom2 {
  margin-bottom: 2rem;
}

.marginBottom3 {
  margin-bottom: 3rem;
}

.marginBottom4 {
  margin-bottom: 4rem;
}

.marginBottom5 {
  margin-bottom: 5rem;
}

.marginTop0 {
  margin-top: 0;
}

.marginTop1 {
  margin-top: 1rem;
}

.marginTop2 {
  margin-top: 2rem;
}

.marginTop3 {
  margin-top: 3rem;
}

.marginTop4 {
  margin-top: 4rem;
}

.marginTop5 {
  margin-top: 5rem;
}

.marginLeftAuto {
  margin-left: auto;
}

.marginRightAuto {
  margin-right: auto;
}

.marginRight1Point5 {
  margin-right: 1.5rem;
}

.marginLeft2 {
  margin-left: 2rem;
}

.marginRight2 {
  margin-right: 2rem;
}

.marginHorizPoint5 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.marginHorizPoint1 {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.marginVertPoint2 {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.marginVertPoint5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.marginVert1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.marginVert2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.padding1 {
  padding: 1rem;
}

.padding2 {
  padding: 2rem;
}

.padding3 {
  padding: 3rem;
}

.padding4 {
  padding: 4rem;
}

.padding5 {
  padding: 5rem;
}

.padding8 {
  padding: 8rem;
}

.padding10 {
  padding: 10rem;
}

.paddingTop1 {
  padding-top: 1rem;
}

.paddingTopPoint5 {
  padding-top: 0.5rem;
}

.borderAlert {
  border: 0.15rem solid var(--guideme-border-alert);
  border-radius: 0.2rem;
  padding: 0.2rem
}

.textBigger {
  font-size: 1.2em;
}

.textMuchBigger {
  font-size: 1.5em;
}

.textSmaller {
  font-size: 0.8em;
}

.lineHeightBigger {
  line-height: 1.4rem;
}

.hidden {
  display: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.pointer {
  cursor: pointer;
}

/* Custom Classes */


.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  /* height: 6em; */
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.glow:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.logoFont {
  font-size: 8rem;
  padding: 1rem;
  padding-bottom: 0.5rem;
}

.hoverBright:hover {
  color: var(--guideme-text-bright);
}

.navTut:hover .hidden {
  display: block;
  position: fixed;
  top: 7.5%;
  left: 25%;
  width: 50%;
  text-align: center;
}

.navTutContainer:hover .hoverHidden {
  display: none;
}

.navTutContainer .hoverHidden {
  position: absolute;
}

.textBright {
  color: var(--guideme-text-bright);
}

.textDull {
  color: var(--guideme-text-dull);
}

.textAccent {
  color: var(--guideme-text-accent);
}

.textStandardColor {
  color: var(--guideme-text-standard);
}

/* .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.dimScreenImageHolder {
  background-color: var(--guideme-background-overlay-shadow);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageBorder {
  border: 0.15rem solid var(--guideme-text-accent);
  border-radius: 8px;
}

.imageAutoSize {
  min-width: 30%;
}

.moveDown {
  margin-top: 10%;
}

.tutorialInfoText {
  color: var(--guideme-text-accent);
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.searchResultsContainer {
  position: absolute;
  height: 80%;
  width: 80%;
  top: 10%;
  left: 10%;
  background-color: var(--guideme-background-dark);
  z-index: 1;
}

.searchResultsList {
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  scrollbar-color: var(--guideme-text-accent) var(--guideme-background-dark);
  height: 70%;
  padding: 0 1rem;
  gap: 0.5rem;
}

.searchResultsList li {
  width: 30%;
}

#searchGuides {
  width: 8rem;
  padding: 0.2rem 0 0 0;
}

/* Color Scheme Preferences */

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #0f0f0f;
    background-color: #f6f6f6;
  }

  a:hover {
    color: #535bf2;
  }

  input,
  button {
    color: #0f0f0f;
    background-color: #ffffff;
  }
  button:active {
    background-color: #e8e8e8;
  }
} */
